<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">RemindNow has everything you need to keep in your favorite link in your hand, don't lose your favorite links, save them, because you will need them one day, and you know where to find them, in RemindNow of course! Enjoy</p>
                <%= link_to "Get Started", root_path, class: "btn btn-default btn-xl" %>
            </div>
        </div>
    </div>
</section>

