<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Site for Saving your links</h1>
            <hr>
            <p>RemindNow can helps you to memorize your links video - article - advise anything that you want to save, RemindMe is here to helps you!</p>
            <%= link_to "Begin Now", new_user_registration_path, class: "btn btn-primary btn-xl page-scroll"  %>
        </div>
    </div>
</header>

