// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top:40px;
	background-color: #c6deef !important;
}
.box {
	padding: 20px 30px;
	margin: 10px 40px;
	width: auto;
	height: auto;
	box-shadow: 10px 10px 5px #888888;
	background-color: #F8F8F8;
}